--
-- PostgreSQL database dump
--

\restrict cjTQmzgaYaDiKu6GtTV7TsLK8Zr8xfMPpebIFZeqlDrR4SdhupdEixNtzc8RNaH

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: scheme_benefits; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scheme_benefits (
    id integer NOT NULL,
    scheme_id integer,
    benefit_type character varying(100),
    benefit_value text
);


ALTER TABLE public.scheme_benefits OWNER TO postgres;

--
-- Name: scheme_benefits_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.scheme_benefits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scheme_benefits_id_seq OWNER TO postgres;

--
-- Name: scheme_benefits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.scheme_benefits_id_seq OWNED BY public.scheme_benefits.id;


--
-- Name: scheme_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scheme_documents (
    id integer NOT NULL,
    scheme_id integer,
    document_name text,
    is_mandatory boolean DEFAULT true
);


ALTER TABLE public.scheme_documents OWNER TO postgres;

--
-- Name: scheme_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.scheme_documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scheme_documents_id_seq OWNER TO postgres;

--
-- Name: scheme_documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.scheme_documents_id_seq OWNED BY public.scheme_documents.id;


--
-- Name: scheme_eligibility; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scheme_eligibility (
    id integer NOT NULL,
    scheme_id integer,
    rule_type character varying(100),
    rule_value text
);


ALTER TABLE public.scheme_eligibility OWNER TO postgres;

--
-- Name: scheme_eligibility_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.scheme_eligibility_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scheme_eligibility_id_seq OWNER TO postgres;

--
-- Name: scheme_eligibility_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.scheme_eligibility_id_seq OWNED BY public.scheme_eligibility.id;


--
-- Name: scheme_faqs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scheme_faqs (
    id integer NOT NULL,
    scheme_id integer,
    question text,
    answer text
);


ALTER TABLE public.scheme_faqs OWNER TO postgres;

--
-- Name: scheme_faqs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.scheme_faqs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scheme_faqs_id_seq OWNER TO postgres;

--
-- Name: scheme_faqs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.scheme_faqs_id_seq OWNED BY public.scheme_faqs.id;


--
-- Name: schemes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schemes (
    id integer NOT NULL,
    name character varying(300) NOT NULL,
    description text,
    apply_how text,
    deadline text,
    rejection_reasons text,
    source_url text,
    last_updated timestamp without time zone DEFAULT now(),
    application_status text DEFAULT 'unknown'::text
);


ALTER TABLE public.schemes OWNER TO postgres;

--
-- Name: schemes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.schemes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schemes_id_seq OWNER TO postgres;

--
-- Name: schemes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.schemes_id_seq OWNED BY public.schemes.id;


--
-- Name: scrape_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scrape_log (
    id integer NOT NULL,
    scheme_id integer,
    scraped_at timestamp without time zone DEFAULT now(),
    status character varying(50),
    changes_found text
);


ALTER TABLE public.scrape_log OWNER TO postgres;

--
-- Name: scrape_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.scrape_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scrape_log_id_seq OWNER TO postgres;

--
-- Name: scrape_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.scrape_log_id_seq OWNED BY public.scrape_log.id;


--
-- Name: scheme_benefits id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_benefits ALTER COLUMN id SET DEFAULT nextval('public.scheme_benefits_id_seq'::regclass);


--
-- Name: scheme_documents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_documents ALTER COLUMN id SET DEFAULT nextval('public.scheme_documents_id_seq'::regclass);


--
-- Name: scheme_eligibility id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_eligibility ALTER COLUMN id SET DEFAULT nextval('public.scheme_eligibility_id_seq'::regclass);


--
-- Name: scheme_faqs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_faqs ALTER COLUMN id SET DEFAULT nextval('public.scheme_faqs_id_seq'::regclass);


--
-- Name: schemes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schemes ALTER COLUMN id SET DEFAULT nextval('public.schemes_id_seq'::regclass);


--
-- Name: scrape_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scrape_log ALTER COLUMN id SET DEFAULT nextval('public.scrape_log_id_seq'::regclass);


--
-- Data for Name: scheme_benefits; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: scheme_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: scheme_eligibility; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: scheme_faqs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.scheme_faqs (id, scheme_id, question, answer) FROM stdin;
\.


--
-- Data for Name: schemes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: scrape_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: scheme_benefits_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scheme_benefits_id_seq', 54, true);


--
-- Name: scheme_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scheme_documents_id_seq', 54, true);


--
-- Name: scheme_eligibility_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scheme_eligibility_id_seq', 57, true);


--
-- Name: scheme_faqs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scheme_faqs_id_seq', 1, false);


--
-- Name: schemes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schemes_id_seq', 59, true);


--
-- Name: scrape_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scrape_log_id_seq', 96, true);


--
-- Name: scheme_benefits scheme_benefits_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_benefits
    ADD CONSTRAINT scheme_benefits_pkey PRIMARY KEY (id);


--
-- Name: scheme_documents scheme_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_documents
    ADD CONSTRAINT scheme_documents_pkey PRIMARY KEY (id);


--
-- Name: scheme_eligibility scheme_eligibility_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_eligibility
    ADD CONSTRAINT scheme_eligibility_pkey PRIMARY KEY (id);


--
-- Name: scheme_faqs scheme_faqs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_faqs
    ADD CONSTRAINT scheme_faqs_pkey PRIMARY KEY (id);


--
-- Name: schemes schemes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schemes
    ADD CONSTRAINT schemes_pkey PRIMARY KEY (id);


--
-- Name: scrape_log scrape_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scrape_log
    ADD CONSTRAINT scrape_log_pkey PRIMARY KEY (id);


--
-- Name: scheme_benefits scheme_benefits_scheme_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_benefits
    ADD CONSTRAINT scheme_benefits_scheme_id_fkey FOREIGN KEY (scheme_id) REFERENCES public.schemes(id) ON DELETE CASCADE;


--
-- Name: scheme_documents scheme_documents_scheme_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_documents
    ADD CONSTRAINT scheme_documents_scheme_id_fkey FOREIGN KEY (scheme_id) REFERENCES public.schemes(id) ON DELETE CASCADE;


--
-- Name: scheme_eligibility scheme_eligibility_scheme_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_eligibility
    ADD CONSTRAINT scheme_eligibility_scheme_id_fkey FOREIGN KEY (scheme_id) REFERENCES public.schemes(id) ON DELETE CASCADE;


--
-- Name: scheme_faqs scheme_faqs_scheme_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_faqs
    ADD CONSTRAINT scheme_faqs_scheme_id_fkey FOREIGN KEY (scheme_id) REFERENCES public.schemes(id) ON DELETE CASCADE;


--
-- Name: scrape_log scrape_log_scheme_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scrape_log
    ADD CONSTRAINT scrape_log_scheme_id_fkey FOREIGN KEY (scheme_id) REFERENCES public.schemes(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict cjTQmzgaYaDiKu6GtTV7TsLK8Zr8xfMPpebIFZeqlDrR4SdhupdEixNtzc8RNaH

